/* FUENTES */
@font-face {
    font-family: Poppins;
    src: url(../recursos/fuentes/Poppins-Regular.ttf);
}

@font-face {
    font-family: PoppinsBold;
    src: url(../recursos/fuentes/Poppins-Bold.ttf);
}

/* COLORES */
:root {
    --color-negro: #080808;
    --color-gris-claro: #e4e4e4;
    --color-naranja-claro: #e9bda1;
    --color-azul-claro: #7a9bb6;
    --color-azul-medio: #2e3245;
    --color-azul-oscuro: #171b25;
    --color-marron-claro: #bbb1b4;
    --color-azul-claro-header: #66c1b5;
    --color-azul-medio-header: #3f849f;
    --color-azul-oscuro-header: #1d4765;
    --color-azul-verdoso-header: #3f756e;
    --color-verde-oscuro-header: #2d4a3a;
    --color-naranja-header: #b83f13;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

/* CONTENEDOR */
.contenedor-home {
    display: grid;
    grid-template-areas: "navegador"
        "cabecera"
        "contenido"
        "footer";
}

/* MENÚ PRINCIPAL */
.menu_principal {
    grid-area: navegador;
    width: 100vw;
    height: 8vh;
    background-image: radial-gradient(circle, rgba(228, 228, 228, 0.5), rgba(228, 228, 228, 0.8));
    box-shadow: 0 1rem 1.5rem var(--color-negro);
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2vw;
}

.menu_principal .menu-lista_planetas,
.menu_principal .menu-lista_idiomas {
    height: 8vh;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

.menu_principal .menu-lista_planetas li {
    padding: 0 1vw;
}

.menu_principal .menu-lista_planetas li a {
    text-decoration: none;
    color: var(--color-negro);
    font-size: 1.15rem;
    display: flex;
    transition: .3s;
}

.menu_principal .menu-lista_planetas li:hover a {
    transform: scale(1.3);
}

.home-icon {
    width: 3.6vh;
}

.current {
    text-decoration: underline;
    color: var(--color-negro);
}

.menu_principal .menu-lista_idiomas li {
    margin-left: .4vw;
}

.menu_principal .menu-lista_idiomas li button {
    color: var(--color-negro);
    font-size: 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.menu_principal .menu-lista_idiomas li p {
    color: var(--color-negro);
}

.menu_principal .menu-lista_idiomas li button:hover {
    text-decoration: underline;
}

.menu_principal .burguer_menu {
    display: none;
    height: 8vh;
    cursor: pointer;
}

.menu_principal .burguer_menu .burguer_menu-linea {
    width: 3.8rem;
    height: .5vh;
    background: rgba(8, 8, 8, .8);
    border-radius: .5rem;
    transition: .35s;
}

.menu_principal input {
    display: none;
}

input:checked~.menu-lista_planetas {
    transform: translateX(0);
}

input:checked~.burguer_menu .burguer_menu-linea:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

input:checked~.burguer_menu .burguer_menu-linea:nth-child(2) {
    display: none;
}

input:checked~.burguer_menu .burguer_menu-linea:nth-child(3) {
    transform: rotate(-45deg);
}

/* .menu_principal-aux {
    z-index: 50;
} */

/* CABECERA */
header {
    grid-area: cabecera;
    width: 100vw;
    height: 100vh;
}

.bg-header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(8, 8, 8, 0.25), rgba(8, 8, 8, 0.5)),
        url(../recursos/imagenes/bg-header.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 24vh 10vw 22vh 10vw;
}

.bg-header h1 {
    font-size: 7rem;
    line-height: 1;
    color: var(--color-gris-claro);
    font-family: PoppinsBold;
    text-shadow: .1vw .25vh .1rem var(--color-naranja-header),
        .1vw .6vh .2rem var(--color-azul-claro-header),
        .1vw .9vh .3rem var(--color-verde-oscuro-header),
        .1vw 1.2vh .4rem var(--color-azul-oscuro-header);
}

.bg-header p {
    font-size: 2.3rem;
    color: var(--color-gris-claro);
    padding: 0 6vw;
}

/* SECCIÓN */
.home-seccion-planetas {
    grid-area: contenido;
    width: 100vw;
    background-image: linear-gradient(rgba(8, 8, 8, .6), rgba(8, 8, 8, .3)),
        url(../recursos/imagenes/via-lactea.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 10;
    padding: 10vh 5vw;
    box-shadow: 0 -1vh .6rem var(--color-negro);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "esp1 sol esp2"
        "mercurio venus tierra"
        "luna marte jupiter"
        "saturno urano neptuno";
    gap: 3vw;
}

.home-articulo-planeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .4s;
    /* position: relative; */
}

/* .home-articulo-planeta:before {
    content: '';
    position: absolute;
    top: -.01rem;
    left: -.01rem;
    right: -.01rem;
    bottom: -.01rem;
    background-color: salmon;
    z-index: -1;
}

.home-articulo-planeta:after {
    content: '';
    top: -.01rem;
    left: -.01rem;
    right: -.01rem;
    bottom: -.01rem;
    background-color: salmon;
    filter: blur(40px);
    z-index: -2;
} */

.home-articulo-planeta:hover {
    transform: scale(1.1);
}

.home-articulo-planeta:nth-of-type(1) {
    grid-area: sol;
}

.home-articulo-planeta:nth-of-type(2) {
    grid-area: mercurio;
}

.home-articulo-planeta:nth-of-type(3) {
    grid-area: venus;
}

.home-articulo-planeta:nth-of-type(4) {
    grid-area: tierra;
}

.home-articulo-planeta:nth-of-type(5) {
    grid-area: luna;
}

.home-articulo-planeta:nth-of-type(6) {
    grid-area: marte;
}

.home-articulo-planeta:nth-of-type(7) {
    grid-area: jupiter;
}

.home-articulo-planeta:nth-of-type(8) {
    grid-area: saturno;
}

.home-articulo-planeta:nth-of-type(9) {
    grid-area: urano;
}

.home-articulo-planeta:nth-of-type(10) {
    grid-area: neptuno;
}

.home-articulo-planeta-img {
    width: 100%;
}

.home-articulo-planeta-img a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-articulo-planeta-img img {
    width: 85%;
    transition: .8s;
    opacity: .75;
}

.home-articulo-planeta:nth-of-type(1) .home-articulo-planeta-img img {
    width: 95%;
}

.home-articulo-planeta:hover .home-articulo-planeta-img img {
    transform: scale(1.12) rotate(-60deg);
    opacity: 1;
}

.home-articulo-planeta-titulo {
    width: 100%;
    background-image: radial-gradient(ellipse,
            rgba(228, 228, 228, .75),
            rgba(122, 155, 182, .75));
    border-radius: 5rem;
    box-shadow: .5vw 1vh .8rem var(--color-azul-oscuro);
    transition: .4s;
    /* opacity: 0; */
    /* position: absolute; */
}

.home-articulo-planeta:hover .home-articulo-planeta-titulo {
    box-shadow: .8vw 1.6vh 1rem var(--color-azul-oscuro);
    /* opacity: 1; */
    /* transform: translateY(18vh); */
}

.home-articulo-planeta-titulo a {
    width: 100%;
    height: 100%;
    font-size: 3.3rem;
    font-weight: 600;
    color: var(--color-negro);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-shadow: 0 .1vh .1rem var(--color-naranja-claro),
        0 .2vh .2rem var(--color-azul-claro-header),
        0 .4vh .3rem var(--color-verde-oscuro-header),
        0 .8vh .4rem var(--color-azul-oscuro-header);
}

/* FOOTER */
footer {
    grid-area: footer;
    width: 100vw;
    height: 50vh;
    padding: 3vh 8vw;
    background-color: var(--color-gris-claro);
    background-image: radial-gradient(circle, var(--color-gris-claro), rgba(8, 8, 8, .2));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--color-negro);
    text-align: center;
    align-items: center;
    font-size: 1.1rem;
    z-index: 10;
}

.footer-tafad {
    width: 5rem;
    height: auto;

}

/*PLANETAS*/

.menu_principal_planetas{
    background-color: rgba(228, 228, 228, 0.7);
}

.body-planetas {
    background-image: linear-gradient(rgba(8, 8, 8, 0.25), rgba(8, 8, 8, 0.8)),
        url(../recursos/imagenes/via-lactea.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--color-gris-claro);
}

.contenedor-planetas {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "navegador navegador"
        "aside main"
        "footer footer";
}

/*Cuerpo*/
.main-planetas {
    grid-area: main;
    margin: 10vh 1rem 1rem 1rem;
}

.main-cabecera {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planetas-img-titulo {
    width: 33vw;
}

.main-cabecera-titulo {
    font-variant: small-caps;
    font-size: 10vw;
    line-height: .8;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position-x: center;
    background-position-y: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#main-cabecera-titulo-sol {
    background-image: url(../recursos/imagenes/sol-home.webp);
}

#main-cabecera-titulo-mercurio {
    background-image: url(../recursos/imagenes/mercurio-fondo-titulo.webp);
}

#main-cabecera-titulo-venus {
    background-image: url(../recursos/imagenes/venus-fondo-titulo.webp);
}

#main-cabecera-titulo-tierra {
    background-image: url(../recursos/imagenes/tierra-fondo-titulo.webp);
}

#main-cabecera-titulo-luna {
    background-image: url(../recursos/imagenes/luna-fondo-titulo.webp);
}

#main-cabecera-titulo-marte {
    background-image: url(../recursos/imagenes/marte-fondo-titulo.webp);
}

#main-cabecera-titulo-jupiter {
    background-image: url(../recursos/imagenes/jupiter-fondo-titulo.webp);
}

#main-cabecera-titulo-saturno {
    background-image: url(../recursos/imagenes/saturno-fondo-titulo.webp);
}

#main-cabecera-titulo-urano {
    background-image: url(../recursos/imagenes/urano-fondo-titulo.webp);
}

#main-cabecera-titulo-neptuno {
    background-image: url(../recursos/imagenes/neptuno-fondo-titulo.webp);
}

.seccion-planetas {
    /* text-align: justify; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top: 5vh;
}

.articulo-planetas {
    display: flex;
    flex-direction: column;
}

.articulo-planetas .articulo-planetas-titulo {
    font-size: 2.8rem;
    font-variant: small-caps;
}

.articulo-planetas p {
    font-size: 1.5rem;
    padding: .5rem;
}

.articulo-planetas:nth-of-type(1) {
    border-right: 2px solid var(--color-gris-claro);
    padding-right: 1rem;
}

.articulo-planetas:nth-of-type(2) {
    padding-left: 1rem;
}

/*Aside*/
.aside-planetas {
    grid-area: aside;
    background-color: rgba(46, 50, 69, .7);
    margin: 10vh 5% 5% 5%;
    border-radius: 1rem;
    padding: 1rem;
}

.aside-titulo {
    display: flex;
    justify-content: center;
    font-variant: small-caps;
    font-size: 1.8rem;
}

.aside-planetas p::before {
    content: "\2736";
}

.aside-planetas p {
    text-align: center;
    margin-top: 2.5vh;
    font-size: 1.1rem;
}

/* MEDIA QUERIES */

/* Para pizarras */
@media screen and (min-width: 2601px) {

    /* MENÚ PRINCIPAL */

    .menu_principal .menu-lista_planetas li a {
        font-size: 3rem;
    }

    .home-icon {
        width: 4vh;
    }

    .menu_principal .menu-lista_idiomas li button {
        font-size: 2.1rem;
    }

    /* CABECERA */

    .bg-header {
        padding: 20vh 10vw;
    }

    .bg-header h1 {
        font-size: 22.5rem;
        line-height: 1.1;
    }

    .bg-header p {
        font-size: 6rem;
        padding: 0;
    }

    /* SECCIÓN */

    .home-articulo-planeta-titulo a {
        font-size: 6.3rem;
    }

    .articulo-planetas .articulo-planetas-titulo {
        font-size: 5.8rem;
    }

    .articulo-planetas p {
        font-size: 3.2rem;
    }

    /* ASIDE */

    .aside-titulo {
        font-size: 3.9rem;
    }

    .aside-planetas p{
        font-size: 2.4rem;
    }

    /* FOOTER */

    footer {
        font-size: 2.4rem;
    }

}

/* Para televisiones grandes */
@media screen and (min-width: 2201px) and (max-width: 2600px) {

    /* MENÚ PRINCIPAL */

    .menu_principal .menu-lista_planetas li a {
        font-size: 2rem;
    }

    .home-icon {
        width: 4vh;
    }

    .menu_principal .menu-lista_idiomas li button {
        font-size: 1.4rem;
    }

    /* CABECERA */

    .bg-header {
        padding: 20vh 10vw;
    }

    .bg-header h1 {
        font-size: 15rem;
        line-height: 1.1;
    }

    .bg-header p {
        font-size: 4rem;
        padding: 0;
    }

    /* SECCIÓN */

    .home-articulo-planeta-titulo a {
        font-size: 4.2rem;
    }

    .articulo-planetas .articulo-planetas-titulo {
        font-size: 5rem;
    }

    .articulo-planetas p {
        font-size: 2.7rem;
    }

    /* ASIDE */

    .aside-titulo {
        font-size: 3.3rem;
    }

    .aside-planetas p{
        font-size: 2rem;
    }

    /* FOOTER */

    footer {
        font-size: 1.6rem;
    }

}

/* Para televisiones */
@media screen and (min-width: 1801px) and (max-width: 2200px) {

    /* MENÚ PRINCIPAL */

    .menu_principal .menu-lista_planetas li a {
        font-size: 1.7rem;
    }

    .home-icon {
        width: 4vh;
    }

    .menu_principal .menu-lista_idiomas li button {
        font-size: 1.4rem;
    }

    /* CABECERA */

    .bg-header {
        padding: 20vh 10vw;
    }

    .bg-header h1 {
        font-size: 12rem;
        line-height: 1.1;
    }

    .bg-header p {
        font-size: 3rem;
        padding: 0;
    }

    /* SECCIÓN */

    .home-articulo-planeta-titulo a {
        font-size: 4.2rem;
    }
    
    .articulo-planetas .articulo-planetas-titulo {
        font-size: 4.1rem;
    }

    .articulo-planetas p {
        font-size: 2.2rem;
    }

    /* ASIDE */

    .aside-titulo {
        font-size: 2.6rem;
    }

    .aside-planetas p{
        font-size: 1.6rem;
    }

    /* FOOTER */

    footer {
        font-size: 1.6rem;
    }

}

/* Para pantallas grandes */
@media screen and (min-width: 1400px) and (max-width: 1800px) {

    /* MENÚ PRINCIPAL */

    .menu_principal .menu-lista_planetas li a {
        font-size: 1.5rem;
    }

    .home-icon {
        width: 3.8vh;
    }

    .menu_principal .menu-lista_idiomas li button {
        font-size: 1.3rem;
    }

    /* CABECERA */

    .bg-header {
        padding: 20vh 10vw;
    }

    .bg-header h1 {
        font-size: 10rem;
        line-height: 1.1;
    }

    .bg-header p {
        font-size: 2.8rem;
        padding: 0;
    }

    /* SECCIÓN */

    .home-articulo-planeta-titulo a {
        font-size: 3.8rem;
    }
        
    .articulo-planetas .articulo-planetas-titulo {
        font-size: 3.1rem;
    }

    .articulo-planetas p {
        font-size: 1.7rem;
    }

    /* ASIDE */

    .aside-titulo {
        font-size: 2rem;
    }

    .aside-planetas p{
        font-size: 1.2rem;
    }

    /* FOOTER */

    footer {
        font-size: 1.25rem;
    }

}

/* Para portátiles */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    /* MENÚ PRINCIPAL */

    .menu_principal {
        padding: 0 3vw 0 1.8vh;
    }

    .menu_principal .menu-lista_planetas {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        width: 60vw;
        height: 100vh;
        top: 0;
        left: 0;
        padding-bottom: 5vh;
        background-color: rgba(228, 228, 228, 0.95);
        transform: translateX(-110%);
        transition: .8s;
        box-shadow: .3rem .3rem .3rem var(--color-negro);
    }

    .menu_principal .burguer_menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1.1vh 0;
        z-index: 1;
    }

    .menu_principal .menu-lista_planetas li {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .menu_principal .menu-lista_planetas li a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        transition: .2s;
    }

    .menu_principal .menu-lista_planetas li a:hover {
        transform: none;
        font-size: 1.7rem;
        box-shadow: 0 .2rem 1rem var(--color-negro);
        background-image: radial-gradient(circle, rgba(228, 228, 228, .1) 30%, rgba(8, 8, 8, .1));
    }

    .home-icon {
        width: 4.4vh;
        transition: .2s;
    }

    .menu_principal .menu-lista_planetas li a:hover>.home-icon {
        width: 5.6vh;
    }

    .menu_principal .menu-lista_idiomas li {
        margin-left: .5vw;
    }

    .menu_principal .menu-lista_idiomas li button,
    .menu_principal .menu-lista_idiomas li p {
        font-size: 1.2rem;
    }

    /* MAIN PLANETAS */
    .contenedor-planetas {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "navegador"
            "main"
            "aside"
            "footer";
    }

    /* CABECERA */

    .bg-header h1 {
        font-size: 6.5rem;
        line-height: 1.1;
    }

    .bg-header p {
        font-size: 2rem;
        padding: 0;
    }

    /* SECCIÓN */

    .home-seccion-planetas {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "sol mercurio"
            "venus tierra"
            "luna marte"
            "jupiter saturno"
            "urano neptuno";
        gap: 5vw;
    }

    .home-articulo-planeta:hover {
        transform: scale(1.15);
    }

    .home-articulo-planeta-img img {
        padding: 1rem;
    }

    .home-articulo-planeta:nth-of-type(1) .home-articulo-planeta-img img {
        width: 85%;
        padding: 0;
    }

    .home-articulo-planeta:hover .home-articulo-planeta-img img {
        transform: scale(1.15) rotate(-60deg);
    }

    .home-articulo-planeta-titulo {
        width: 95%;
    }

    .home-articulo-planeta-titulo a {
        font-size: 3rem;
    }

    /* ASIDE */

    .aside-titulo {
        font-size: 2.5rem;
    }

    .aside-planetas p{
        font-size: 1.2rem;
    }

    /* FOOTER */

    footer {
        height: 50vh;
        padding: 3vh 7vw;
        font-size: 1rem;
    }

}

/* Para tablets */
@media (min-width: 426px) and (max-width: 768px) {

    /* MENÚ PRINCIPAL */

    .menu_principal {
        padding: 0 3vw 0 1.8vh;
    }

    .menu_principal .menu-lista_planetas {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        width: 60vw;
        height: 100vh;
        top: 0;
        left: 0;
        padding-bottom: 5vh;
        background-color: rgba(228, 228, 228, 0.95);
        transform: translateX(-110%);
        transition: .8s;
        box-shadow: .3rem .3rem .3rem var(--color-negro);
    }

    .menu_principal .burguer_menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1.1vh 0;
        z-index: 1;
    }

    .menu_principal .burguer_menu .burguer_menu-linea {
        width: 3.4rem;
    }

    .menu_principal .menu-lista_planetas li {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .menu_principal .menu-lista_planetas li a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        transition: .2s;
    }

    .menu_principal .menu-lista_planetas li a:hover {
        transform: none;
        font-size: 1.7rem;
        box-shadow: 0 .2rem 1rem var(--color-negro);
        background-image: radial-gradient(circle, rgba(228, 228, 228, .1) 30%, rgba(8, 8, 8, .1));
    }

    .home-icon {
        width: 4.4vh;
        transition: .2s;
    }

    .menu_principal .menu-lista_planetas li a:hover>.home-icon {
        width: 5.6vh;
    }

    .menu_principal .menu-lista_idiomas li {
        margin-left: .5vw;
    }

    .menu_principal .menu-lista_idiomas li button,
    .menu_principal .menu-lista_idiomas li p {
        font-size: 1.2rem;
    }

    /* MAIN PLANETAS */
    .contenedor-planetas {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "navegador"
            "main"
            "aside"
            "footer";
    }

    /* CABECERA */

    .bg-header {
        padding: 20vh 5vw 18vh 5vw;
    }

    .bg-header h1 {
        font-size: 4.62rem;
        line-height: 1.25;
    }

    .bg-header p {
        font-size: 1.4rem;
        padding: 0 3vw;
    }

    /* SECCIÓN */

    .home-seccion-planetas {
        padding: 15vh 10vw;
        display: grid;
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: "sol"
            "mercurio"
            "venus"
            "tierra"
            "luna"
            "marte"
            "jupiter"
            "saturno"
            "urano"
            "neptuno";
        gap: 5vh;
    }

    .home-articulo-planeta:hover {
        transform: scale(1.1);
    }

    .home-articulo-planeta-img img {
        width: 80%;
    }

    .home-articulo-planeta:nth-of-type(1) .home-articulo-planeta-img img {
        width: 90%;
    }

    .home-articulo-planeta:hover .home-articulo-planeta-img img {
        transform: scale(1.1) rotate(-60deg);
    }

    .home-articulo-planeta-titulo {
        width: 90%;
    }

    .home-articulo-planeta-titulo a {
        font-size: 3.5rem;
    }

    .seccion-planetas {
        /* text-align: justify; */
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
        margin-top: 5vh;
    }

    .articulo-planetas:nth-of-type(1) {
        border-right: none;
        padding-right: 0;
        border-bottom: 2px solid var(--color-gris-claro);
        padding-bottom: .5rem;
    }

    .articulo-planetas .articulo-planetas-titulo {
        font-size: 2.5rem;
    }

    .articulo-planetas p {
        font-size: 1.3rem;
    }

    /* ASIDE */

    .aside-titulo {
        font-size: 2.1rem;
    }

    .aside-planetas p{
        font-size: 1.1rem;
    }

    /* FOOTER */

    footer {
        height: 55vh;
        padding: 2vh 5vw;
        font-size: .9rem;
    }

}


/* Para móviles */
@media (max-width: 426px) {

    /* MENÚ PRINCIPAL */

    .menu_principal {
        padding: 0 3vw 0 1.8vh;
    }

    .menu_principal .menu-lista_planetas {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        padding-bottom: 5vh;
        background-color: rgba(228, 228, 228, 0.95);
        transform: translateX(-110%);
        transition: .8s;
        box-shadow: .3rem .3rem .3rem var(--color-negro);
    }

    .menu_principal .burguer_menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1.1vh 0;
        z-index: 1;
    }

    .menu_principal .burguer_menu .burguer_menu-linea {
        width: 3rem;
    }

    .menu_principal .menu-lista_planetas li {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .menu_principal .menu-lista_planetas li a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        transition: .2s;
    }

    .menu_principal .menu-lista_planetas li a:hover {
        transform: none;
        font-size: 1.8rem;
        box-shadow: 0 .2rem 1rem var(--color-negro);
        background-image: radial-gradient(circle, rgba(228, 228, 228, .1) 30%, rgba(8, 8, 8, .1));
    }

    .home-icon {
        width: 4.8vh;
        transition: .2s;
    }

    .menu_principal .menu-lista_planetas li a:hover>.home-icon {
        width: 5.9vh;
    }

    .menu_principal .menu-lista_idiomas li {
        margin-left: .5vw;
    }

    .menu_principal .menu-lista_idiomas li button,
    .menu_principal .menu-lista_idiomas li p {
        font-size: 1.2rem;
    }

    /* MAIN PLANETAS */
    .contenedor-planetas {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "navegador"
            "main"
            "aside"
            "footer";
    }

    /* CABECERA */

    .bg-header {
        padding: 25vh 5vw 22vh 5vw;
    }

    .bg-header h1 {
        font-size: 3.3rem;
        line-height: 1.2;
    }

    .bg-header p {
        font-size: 1.3rem;
        padding: 0 2.5vw;
    }

    /* SECCIÓN */

    .home-seccion-planetas {
        padding: 10vh 8vw;
        display: grid;
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: "sol"
            "mercurio"
            "venus"
            "tierra"
            "luna"
            "marte"
            "jupiter"
            "saturno"
            "urano"
            "neptuno";
        gap: 5vh;
    }

    .home-articulo-planeta:hover {
        transform: scale(1.1);
    }

    .home-articulo-planeta-img {
        height: auto;
    }

    .home-articulo-planeta-img img {
        width: 80%;
    }

    .home-articulo-planeta:nth-of-type(1) .home-articulo-planeta-img img {
        width: 90%;
    }

    .home-articulo-planeta:hover .home-articulo-planeta-img img {
        transform: scale(1.1) rotate(-60deg);
    }

    .home-articulo-planeta-titulo {
        width: 95%;
    }

    .seccion-planetas {
        /* text-align: justify; */
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
        margin-top: 5vh;
    }

    .articulo-planetas:nth-of-type(1) {
        border-right: none;
        padding-right: 0;
        border-bottom: 2px solid var(--color-gris-claro);
        padding-bottom: .5rem;
    }

    .articulo-planetas .articulo-planetas-titulo {
        font-size: 2.4rem;
    }

    .articulo-planetas p {
        font-size: 1.2rem;
    }

    /* ASIDE */

    .aside-titulo {
        font-size: 2.2rem;
    }

    .aside-planetas p{
        font-size: 1rem;
    }

    /* FOOTER */

    footer {
        height: 55vh;
        padding: 2vh 3vw;
        font-size: .8rem;
    }

}